.markdownContainer h1 {
  color: #007bff;
  margin-top: 1.2rem; /* Decreased by 20% from 1.5rem */
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.markdownContainer h2 {
  color: #0056b3;
  margin-top: 1.12rem; /* Decreased by 20% from 1.4rem */
  margin-bottom: 0.5rem;
  font-size: 1.2rem; /* 1.2rem is 92.31% of 1.3rem */
}

.markdownContainer h3 {
  color: #003d80;
  margin-top: 1.04rem; /* Decreased by 20% from 1.3rem */
  margin-bottom: 0.5rem;
  font-size: 1.1rem; /* 1.1rem is 84.62% of 1.3rem */
}

.markdownContainer h4 {
  color: #00264d;
  margin-top: 0.96rem; /* Decreased by 20% from 1.2rem */
  margin-bottom: 0.5rem;
  font-size: 1rem; /* 1rem is 76.92% of 1.3rem */
}

.markdownContainer h5 {
  color: #001a33;
  margin-top: 0.88rem; /* Decreased by 20% from 1.1rem */
  margin-bottom: 0.5rem;
  font-size: 0.9rem; /* 0.9rem is 69.23% of 1.3rem */
}

.markdownContainer ul {
  list-style-type: disc; /* Ensures bullets appear */
  padding-left: 20px; /* Adds indentation */
}

.markdownContainer ol {
  list-style-type: decimal; /* Numbered lists */
  padding-left: 20px;
}

