.container {
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    color: #333333;
    padding: 0.25rem 0.25rem;
    width: 40rem;
    max-width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.display {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
