/* ModalList.module.css */
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modalCloseButton {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: none;
  color: #ffffff;
}

.modalList {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.modalListItem {
  padding: 10px;
  cursor: pointer;
  color: #000000;
}

.modalListItem:nth-child(odd) {
  background-color: #f9f9f9;
}

.modalListItem:nth-child(even) {
  background-color: #e9e9e9;
}

.modalListItem {
  border-bottom: 1px solid #ccc;
}

.modalListItem:hover {
  background-color: #007bff;
  color: #ffffff;
}

.modalListItem.selected {
  background-color: #0056b3;
  color: #ffffff;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


