.header {
  padding: 8px 0px;
  width: calc(100% - 2.5rem);
  position: fixed;
  background: white;
  z-index: 1000;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.6rem;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: #a8be83;
  border-radius: 5px;
  cursor: pointer;
}

.buttonText {
  font-size: 0.75rem;
}

